<!DOCTYPE html>
<html data-ng-app="myModule" ng-controller="timeMaster">

<head>  
<title ng-bind-template="{{countNow}} - Interval Timer">Interval Timer</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/app.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css"></link>

</head>

<body>
    <audio id="gong" src="gong.wav" preload="auto"></audio>
    <h1>interval timer</h1>
    <div>
        <span id="count">{{countNow}}</span>
        <br />
        interval: {{intNumber}}
        <br />
        <button ng-click="start()">start</button>
    </div>
    <div ng-controller="SimpleController">
        <h2>Intervals</h2>
        
        <form>
            Length(seconds):
            <input type="number" min="0" max="10000" placeholder="10" data-ng-model="newInterval.length"/>
            <input type="submit" value="Add" data-ng-click="addInterval()"/>
        </form>
        <ol>
            <li ng-class="{going: $index==intNumber-1}" data-ng-repeat="interval in intervals">
                {{interval.length + "s"}}
                <button id="remove" ng-click="removeInterval($index)">x</button>
            </li>
        </ol> 
        <br />
     </div>
  

</body>
</html>
