body {
    font-size: 16px;
    text-align: center;
    max-width: 400px;
    min-width: 100px;
    margin: 0 auto;
    background: gray;
}

li {
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: darkgray;
    color: white;
}
li:nth-child(even) {
   background-color: dimgray;
}
li.going {
    background: gold;
    color: black;
    transition: all .17s ease-in;
    transition: all .17s ease-out;
}
 #count {
    font-size: 4em;
    color: white;
    display: block;
 }

 #remove {
    float: right;
 }
